@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	max-width: 100%;
	font-family: "Karla", sans-serif;
}

.main-title {
	font-family: "Dancing Script", cursive;
}

body {
	/* background-color: rgb(15, 23, 42); */
	background-color: #0d1117;
}

::-webkit-scrollbar {
	display: none;
}
